images/docker.png filter=lfs diff=lfs merge=lfs -text
images/parquet-dive.png filter=lfs diff=lfs merge=lfs -text
images/plotly_images.png filter=lfs diff=lfs merge=lfs -text
images/python_growth_major_languages.png filter=lfs diff=lfs merge=lfs -text
images/catalyst09.png filter=lfs diff=lfs merge=lfs -text
images/QueryExecution-execution-pipeline.png filter=lfs diff=lfs merge=lfs -text
images/rdd_anatomy_2.png filter=lfs diff=lfs merge=lfs -text
images/spark-and-friends.png filter=lfs diff=lfs merge=lfs -text
images/uparis.png filter=lfs diff=lfs merge=lfs -text
images/dag_reducebykey1.png filter=lfs diff=lfs merge=lfs -text
images/lineage_graph.png filter=lfs diff=lfs merge=lfs -text
images/tachyon.png filter=lfs diff=lfs merge=lfs -text
images/teasing3.png filter=lfs diff=lfs merge=lfs -text
images/spark-dev3.png filter=lfs diff=lfs merge=lfs -text
images/avro-file.png filter=lfs diff=lfs merge=lfs -text
images/classnotfounderror.png filter=lfs diff=lfs merge=lfs -text
images/cluster-overview.png filter=lfs diff=lfs merge=lfs -text
images/containers.png filter=lfs diff=lfs merge=lfs -text
images/spark_archi.png filter=lfs diff=lfs merge=lfs -text
images/catalyst08.png filter=lfs diff=lfs merge=lfs -text
images/comet-overview.png filter=lfs diff=lfs merge=lfs -text
images/pyspark-machine_learning.png filter=lfs diff=lfs merge=lfs -text
images/stackoverflow-survey.png filter=lfs diff=lfs merge=lfs -text
images/avro.png filter=lfs diff=lfs merge=lfs -text
images/catalyst03.png filter=lfs diff=lfs merge=lfs -text
images/catalyst11.png filter=lfs diff=lfs merge=lfs -text
images/Mapreduce.png filter=lfs diff=lfs merge=lfs -text
images/nonetypeerror.png filter=lfs diff=lfs merge=lfs -text
images/catalyst10.png filter=lfs diff=lfs merge=lfs -text
images/docker_container_ls.png filter=lfs diff=lfs merge=lfs -text
images/sql-and-friends.png filter=lfs diff=lfs merge=lfs -text
images/very-simple-dag-example.png filter=lfs diff=lfs merge=lfs -text
images/Opera[[:space:]]Snapshot_2024-02-18_181636_spark.apache.org.png filter=lfs diff=lfs merge=lfs -text
images/teasing1.png filter=lfs diff=lfs merge=lfs -text
images/narrow_vs_wide_dependencies.png filter=lfs diff=lfs merge=lfs -text
images/rdd_anatomy_1.png filter=lfs diff=lfs merge=lfs -text
images/group_by.png filter=lfs diff=lfs merge=lfs -text
images/lpsm.png filter=lfs diff=lfs merge=lfs -text
images/python_antigravity.png filter=lfs diff=lfs merge=lfs -text
images/jupyter.png filter=lfs diff=lfs merge=lfs -text
images/plotly_download.png filter=lfs diff=lfs merge=lfs -text
images/UniversiteParisCite_logo_horizontal_noir_RVB.png filter=lfs diff=lfs merge=lfs -text
images/dag_reducebykey2.png filter=lfs diff=lfs merge=lfs -text
images/parquet.png filter=lfs diff=lfs merge=lfs -text
images/polynote.png filter=lfs diff=lfs merge=lfs -text
images/vlad.png filter=lfs diff=lfs merge=lfs -text
images/catalyst05.png filter=lfs diff=lfs merge=lfs -text
images/spark-submit1.png filter=lfs diff=lfs merge=lfs -text
images/sparkui.png filter=lfs diff=lfs merge=lfs -text
images/webUI-oneworker.png filter=lfs diff=lfs merge=lfs -text
images/spark_broadcast_join.png filter=lfs diff=lfs merge=lfs -text
images/altair-logo-light.png filter=lfs diff=lfs merge=lfs -text
images/bokeh.png filter=lfs diff=lfs merge=lfs -text
images/render-commit-push.png filter=lfs diff=lfs merge=lfs -text
images/spark_shuffle_join.png filter=lfs diff=lfs merge=lfs -text
images/python_growth_smaller_languages.png filter=lfs diff=lfs merge=lfs -text
images/simple-execution-plan.png filter=lfs diff=lfs merge=lfs -text
images/stages-spark-ui.png filter=lfs diff=lfs merge=lfs -text
images/hadoop-archi.png filter=lfs diff=lfs merge=lfs -text
images/latency_numbers.png filter=lfs diff=lfs merge=lfs -text
images/nullpointer.png filter=lfs diff=lfs merge=lfs -text
images/plotly_logo_dark.png filter=lfs diff=lfs merge=lfs -text
images/python_environment.png filter=lfs diff=lfs merge=lfs -text
images/catalyst02.png filter=lfs diff=lfs merge=lfs -text
images/catalyst04.png filter=lfs diff=lfs merge=lfs -text
images/join-types.png filter=lfs diff=lfs merge=lfs -text
images/shuffline_2.png filter=lfs diff=lfs merge=lfs -text
images/spark-submit2.png filter=lfs diff=lfs merge=lfs -text
images/dask_nutshell.png filter=lfs diff=lfs merge=lfs -text
images/jupyter_logo.png filter=lfs diff=lfs merge=lfs -text
images/pyspark-pandas_api_on_spark.png filter=lfs diff=lfs merge=lfs -text
images/reduce_by.png filter=lfs diff=lfs merge=lfs -text
images/pandas.png filter=lfs diff=lfs merge=lfs -text
images/spark_stack.png filter=lfs diff=lfs merge=lfs -text
images/UniversiteParisCite_logo_horizontal_couleur_RVB.png filter=lfs diff=lfs merge=lfs -text
images/dask_adoption.png filter=lfs diff=lfs merge=lfs -text
images/data-lakehouse-new.png filter=lfs diff=lfs merge=lfs -text
images/fault_tol_2.png filter=lfs diff=lfs merge=lfs -text
images/hdfs.png filter=lfs diff=lfs merge=lfs -text
images/orc.png filter=lfs diff=lfs merge=lfs -text
images/visual_dag_resolved.png filter=lfs diff=lfs merge=lfs -text
images/spark-runs-everywhere.png filter=lfs diff=lfs merge=lfs -text
images/catalyst06.png filter=lfs diff=lfs merge=lfs -text
images/fault_tol_1.png filter=lfs diff=lfs merge=lfs -text
images/pyspark-spark_core_and_rdds.png filter=lfs diff=lfs merge=lfs -text
images/shuffline.png filter=lfs diff=lfs merge=lfs -text
images/spark-env-source.png filter=lfs diff=lfs merge=lfs -text
images/logistic-regression.png filter=lfs diff=lfs merge=lfs -text
images/spark.png filter=lfs diff=lfs merge=lfs -text
images/json.png filter=lfs diff=lfs merge=lfs -text
images/pyspark-apis.png filter=lfs diff=lfs merge=lfs -text
images/catalyst12.png filter=lfs diff=lfs merge=lfs -text
images/python.png filter=lfs diff=lfs merge=lfs -text
images/storage-tab-spark-ui.png filter=lfs diff=lfs merge=lfs -text
images/visual_dag.png filter=lfs diff=lfs merge=lfs -text
images/paris-diderot.png filter=lfs diff=lfs merge=lfs -text
images/catalyst01.png filter=lfs diff=lfs merge=lfs -text
images/dask.png filter=lfs diff=lfs merge=lfs -text
images/docker_image_ls.png filter=lfs diff=lfs merge=lfs -text
images/jupyter_pass.png filter=lfs diff=lfs merge=lfs -text
images/logos.png filter=lfs diff=lfs merge=lfs -text
images/catalyst07.png filter=lfs diff=lfs merge=lfs -text
images/seaborn.png filter=lfs diff=lfs merge=lfs -text
images/sqlerror.png filter=lfs diff=lfs merge=lfs -text
images/aws.png filter=lfs diff=lfs merge=lfs -text
images/docker_tag.png filter=lfs diff=lfs merge=lfs -text
images/matplotlib.png filter=lfs diff=lfs merge=lfs -text
images/plotly-logo-sm.png filter=lfs diff=lfs merge=lfs -text
images/scipy.png filter=lfs diff=lfs merge=lfs -text
images/orc-file-structure.png filter=lfs diff=lfs merge=lfs -text
images/pull.png filter=lfs diff=lfs merge=lfs -text
images/file-formats.png filter=lfs diff=lfs merge=lfs -text
images/logo.png filter=lfs diff=lfs merge=lfs -text
images/next-gen-databases.png filter=lfs diff=lfs merge=lfs -text
images/pyspark-structured_streaming.png filter=lfs diff=lfs merge=lfs -text
images/sql.jpg filter=lfs diff=lfs merge=lfs -text
images/stephaneg.jpg filter=lfs diff=lfs merge=lfs -text
images/teasing4.jpg filter=lfs diff=lfs merge=lfs -text
images/big-data-tease.jpg filter=lfs diff=lfs merge=lfs -text
images/numpy.jpg filter=lfs diff=lfs merge=lfs -text
images/spark_broadcast_join.jpg filter=lfs diff=lfs merge=lfs -text
images/stephaneb.jpg filter=lfs diff=lfs merge=lfs -text
images/teasing2.jpg filter=lfs diff=lfs merge=lfs -text
images/wtf.jpg filter=lfs diff=lfs merge=lfs -text
images/datacenter2.jpg filter=lfs diff=lfs merge=lfs -text
images/ipython.jpg filter=lfs diff=lfs merge=lfs -text
images/harrison_next_gen_database.jpg filter=lfs diff=lfs merge=lfs -text
images/pyspark.jpg filter=lfs diff=lfs merge=lfs -text
images/teasing0.jpg filter=lfs diff=lfs merge=lfs -text
images/databricks.jpg filter=lfs diff=lfs merge=lfs -text
images/spark_shuffle_join.jpg filter=lfs diff=lfs merge=lfs -text
images/amelie.jpeg filter=lfs diff=lfs merge=lfs -text
images/plotly_download.jpeg filter=lfs diff=lfs merge=lfs -text
images/UniversiteParisCite_logo_horizontal_couleur_RVB.jpeg filter=lfs diff=lfs merge=lfs -text
images/UniversiteParisCite_logo_horizontal_noir_RVB.jpeg filter=lfs diff=lfs merge=lfs -text
images/uparis.jpeg filter=lfs diff=lfs merge=lfs -text
images/WordCountFlow.JPG filter=lfs diff=lfs merge=lfs -text
images/*.JPEG filter=lfs diff=lfs merge=lfs -text
